.f-abril{
    font-family: "Abril Fatface", serif;
}
.footer {
    height: 100%;
    background-color: black;
    box-shadow: 0px 5px 20px #dddde357;
    padding: 20px;
}

.text-footer{
    color: white;
    font-size: 13px;
}

.content1{
    padding-left: 150px;
    justify-content: center;
}

.giaohang{
    height: 200px;
    width: 200px;
}

.giaohangnhanh{
    width: 150px;
    height: 100px;
}