.product-container .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding-right: 20px;
}


@media (max-width: 1200px) {
    .product-container .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .product-container .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .product-container .product-list {
        grid-template-columns: 1fr;
    }
}