.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-details p,
.edit-form label {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form input,
.edit-form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.edit-form button[type="button"] {
    background-color: #6c757d;
}

@media (max-width: 768px) {
    .edit-form label {
        flex-direction: column;
        align-items: flex-start;
    }

    .edit-form input,
    .edit-form select {
        width: 100%;
        margin-top: 5px;
    }

    .edit-form button {
        width: 100%;
        margin-top: 10px;
    }
}